<launch>

	<node name="stereo_alignment_tool" pkg="stereo_alignment" type="align.py" output="screen">
		<param name="cross_hair_color" value="red"/>
		<param name="line_width" value="1"/>
		<param name="line_length" value="15"/>
		<remap from="left_camera/image_raw" to="/pinocchio/left_camera/image_color"/>
		<remap from="right_camera/image_raw" to="/pinocchio/right_camera/image_color"/>
		<remap from="image_out" to="/pinocchio/stereo_calib_image"/>
	</node>

</launch>
